{% extends 'base.html' %}


{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="page-title">About Me</h1>
                    <article class="post">
                        <div class="entry-content clearfix">
                            <figure class="img-responsive-center">
                                <img class="img-responsive" src="/static/plugin/img/me.jpg" alt="Developer Image">
                            </figure>
                            <p>尘世中一只迷途的小羔羊</p>
                            <div class="height-40px"></div>

                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
{% endblock %}