<style>
    .label {
        height: 20px;
        margin-right: 5px;
        padding: 0 10px;
        background-color: #31b0d5;
        display: inline-block;
        position: relative;
        color: #fff;
        font-size: 10px;
        line-height: 19px;
        vertical-align: baseline;
        white-space: nowrap;
        border-bottom: none;
        top: -3px;
    }

    .label .label-arrow {
        position: absolute;
        top: 7px;
        right: -4px;
        border-left: 4px solid #31b0d5;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

    .titletag {
        padding-left: 18px;
        background: url("/static/front/img/titletag.png") no-repeat center;
        background-position: 0px 4px;

    }
</style>

<div class="col-md-3">


            <div class="panel panel-default">
                <div class="panel-heading"><a href="/category/">Category</a></div>
                <div class="panel-body">
                    {% for item in category_list %}
                        <li style="list-style-type:none;margin-bottom: 5px">
                            <a class="label" href="/category/{{ item.pk }}/">
                                {{ item.title }}({{ item.c }})
                            </a>
                        </li>
                    {% endfor %}

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><a href="/tag/">Tag</a></div>
                <div class="panel-body">
                     {% for item in tag_list %}
                        <span class="titletag">
                            <a  href="/tag/{{ item.pk }}/">
                                {{ item.title }}({{ item.c }})
                            </a>
                        </span>
                     {% endfor %}
                </div>
            </div>





</div>