{% extends 'manage/base.html' %}
{% block content %}
    <!-- 右侧-->
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
            <section class="py-5">
                <div class="row">
                    <!-- Form Elements -->
                    <div class="col-lg-12 mb-5">
                        <div class="card">
                            <!-- 标题 -->
                            <div class="card-header">
                                <h3 class="h6 text-uppercase mb-0">更改密码</h3>
                            </div>
                            <!-- 表单数据 -->
                            <div class="card-body">
                                <form class="form-horizontal" id="form" enctype="multipart/form-data">
                                    {% csrf_token %}


                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label">旧密码</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name='pwd'
                                                   value="">
                                            <small class="form-text text-danger ml-3 error"></small>
                                        </div>
                                    </div>
                                     <div class="line"></div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label">新密码</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name='newpwd'
                                                   value="">
                                            <small class="form-text text-danger ml-3 error"></small>
                                        </div>
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label">确认新密码</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name='renewpwd'
                                                   value="">
                                            <small class="form-text text-danger ml-3 error"></small>
                                        </div>
                                    </div>


                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <div class="col-md-9 ml-auto">
                                            <button type="button" class="btn btn-danger leave">离开</button>
                                            <button type="button" data-toggle="modal" data-target="#myModal"
                                                    class="btn btn-success">更改
                                            </button>
                                            <!-- Modal-->
                                            <div id="myModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true"
                                                 class="modal fade text-left">
                                                <div role="document" class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 id="exampleModalLabel" class="modal-title">确认更改</h4>
                                                            <button type="button" data-dismiss="modal"
                                                                    aria-label="Close" class="close"><span
                                                                    aria-hidden="true">×</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>你真的要修改密码？</p>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" data-dismiss="modal"
                                                                    class="btn btn-secondary">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary save">Save
                                                                changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-center text-md-left text-primary">
                        <p class="mb-2 mb-md-0">fuck the world</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/static/plugin/js/jquery-2.1.3.min.js"></script>
    <script>


        $('.leave').click(function () {
            location.href = '/manage/'
        })
        $('.save').click(function () {
            var formdata = new FormData()
            var request_data = $("#form").serializeArray();
            $.each(request_data, function (index, data) {
                formdata.append(data.name, data.value)
            })


            $.ajax({
                url: '/manage/chpwd/',
                type: 'post',
                contentType: false,
                processData: false,
                data: formdata,

                success: function (data) {
                    if (data.status == 0) {

                    } else {
                        console.log(data)
                        $('.error').text('')
                        $('.form-control').removeClass('is-invalid')
                        $.each(data.error, function (field, error_list) {
                            $("[name=" + field + "]").next().text(error_list)
                            $("[name=" + field + "]").addClass('is-invalid')
                            $('#myModal').modal('hide')
                        })
                    }

                }
            })
        })

    </script>
{% endblock %}
